<div class="container mx-auto p-4">
  
  <%= form_with url: directions_path, method: :get, local: true, class: "space-y-4" do |form| %>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <div>  
            <%= form.text_field :query, value: params[:query], placeholder: "Rechercher par nom de direction", class: "styles_pg_search" %>
          </div>
        </div>  

        <div>
          <%= form.submit "Rechercher", class: "button bg-indigo-600" %>
        </div>
  <% end %>

    <div class="flex justify-between items-center">
      <h1 class="text-2xl font-bold">Direction</h1>
      <%= link_to 'Nouvelle Direction', new_direction_path, class: 'bg-red-600 text-white py-1 px-2 rounded' %>
    </div>
    <div class=" mt-4 max-h-80 overflow-y-auto border border-gray-300 rounded-md p-4">
      <table class="min-w-full bg-white border border-gray-200 mt-4">
        <thead class="bg-indigo-600 text-white ">
          <tr>
            <th class="les_tr">Created_at</th>
            <th class="les_tr">Name</th>
            <th class="les_tr">description</th>
            <th class="les_tr">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @directions.each do |direction| %>
            <tr>
              <td class="les_td"><%= direction.decorate.formatted_created_at %></td>
              <td class="les_td"><%= direction.name %></td>
              <td class="les_td"><%= direction.description %></td>
              <td class="les_td">
                <%= link_to 'Modifier', edit_direction_path(direction), class: 'bg-red-600 button' %>
                <%= link_to 'Voir', direction_path(direction), class: 'bg-blue-600 button' %>
                <%= link_to 'Supprimer', direction, data: {  turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'bg-red-700 button' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
  