<!DOCTYPE html>
<html>
  <head>
    <title>Monapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class=" h-screen overflow-hidden bg-gray-200">
    <div class="flex justify-end absolute bottom-0 right-0 p-1">
      <%= link_to 'Déconnexion', destroy_user_session_path, class: 'bg-indigo-600 text-white py-1 px-2 rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 gap-2 whitespace-nowrap inline-flex items-center text-sm', data: { turbo_method: :delete, turbo_confirm: "Etes-vous sûre de vouloir vous déconnecter?" } %>
    </div>
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <header>
      <% if user_signed_in? %>
        <%= render "shared/side_bar" %>
      <% end %>
    </header>
    <div class="flex w-full h-screen bg-gray-200">
      <div class="flex-1 p-1">
        <main class="flex">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
